.radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  outline: 1px solid #ad8361;
  outline-offset: -1px;
  background-color: transparent;
  color: #ad8361;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.radio:has(.radio__input:checked) {
  background-color: #a87b64;
  color: #fff;
}

.radio:has(.radio__input:focus-visible) {
  background-color: #efede7;
  color: #ad8361;
  outline: 2px solid #ad8361;
}

.radio:hover:not(:has(.radio__input:disabled)) {
  color: #090909;
}

.radio:has(.radio__input:disabled) {
  outline-color: rgba(173, 131, 97, 0.5);
  background-color: rgba(243, 243, 243, 0.5);
  color: rgba(173, 131, 97, 0.5);
  cursor: not-allowed;
}